body {
  background: url('/hosting.jpg') no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  height: 100vh;
}
h1{
  color: #FFF;
  margin-top: 10%;
  font-size: 3.25rem;
}
.lead{
  color: #FFF;
  font-size: 1.25rem;
}

