div.stars {
     width: 165px;
     display: inline-block;
}
 input.star {
     display: none;
}
 label.star {
     float: right;
     padding-right: 10px;
     font-size: 24px;
     color: #444;
     transition: all .2s;
}
 input.star:checked ~ label.star:before {
     content: '\f005';
     color: #FD4;
     transition: all .25s;
}
 input.star-5:checked ~ label.star:before {
     color: yellow;
     /*text-shadow: 0 0 10px #000;*/
}
 input.star-1:checked ~ label.star:before {
     color: #F62;
}
 label.star:hover {
     transform: rotate(-15deg) ;
}
 label.star:before {
     content: '\f006';
     font-family: FontAwesome;
}
.alert{
     margin:7px;
     padding: 0.8rem 1rem 0.4rem 1rem;
     margin-bottom: 1rem;
}
