body{
    background-color: #EEE !important;
}

.blogetc_container{
    background-color: #FFF;
}
.navbar li a{
    color: #fff !important;
    background-color: #20BFDD;
    border-color: #0d6efd;
    border-left: #FFF solid 2px;
}
.navbar li a:hover{
    background-color: #333 !important;
}
.dropdown-menu{
    border: none ;
    padding: unset;
    border-radius: unset;
}
/*
.row {
    --bs-gutter-x: 0rem !important;
}
*/
.row {
            margin-right: -15px;
            margin-left: -15px;
        }
        .d-block {
    max-width: 600px !important;
}